body,h1,h2,h3,h4,h5,h6 {font-family: "Rubik", Sans-serif;}

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
  
 .w3-Montserrat {
   font-family: "Montserrat", sans-serif;
 }
  
.w3-lightpink,.w3-hover-lightpink:hover {
  color:#000!important;
  background-color:#ffccff!important
 }
 
 .w3-glow {
   text-shadow: 1px 1px 10px black;
  }

.w3-text-lightpink {
  color: #ffccff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

mark {
background-color: black;
color: white;
}
  
mark1 {
background-color: black;
color: #ffccff;
}
  
mark2 {
  color: white;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Classes */
#dance {
  color:#000!important;
  background-color:grey!important
}
#hiit {
  color:#000!important;
  background-color:grey!important
}
#stretch {
  color:#000!important;
  background-color:grey!important
}
#combat {
  color:#000!important;
  background-color:grey!important
}
#booty {
  color:#000!important;
  background-color:yellow!important
}
#tone {
  color:#000!important;
  background-color:white!important
}
#barre {
  color:#000!important;
  background-color:white!important
}
#ab {
  color:#000!important;
  background-color:white!important
}


/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("Images/header.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
